/*Global Styles*/
body {
	font-family: var(--main-font);
	background-color: var(--bg-primary);
}

.feature-card__section {
	min-height: 100vh;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 50px;
}

/*Font Styles*/
h1 {
	font-size: 2.3rem;
	font-weight: 200;
	color: var(--heading-primary);
}

h2 {
	font-size: 2.3rem;
	font-weight: 600;
	color: var(--heading-primary);
}

h3 {
	font-size: 1.25rem;
	font-weight: 600;
	color: var(--heading-primary);
}

.heading__holder p {
	font-size: 0.9375rem;
	color: var(--text-primary);
	font-weight: 200;
}

.card__text {
	font-size: 0.8125rem;
	font-weight: 200;
	color: var(--text-primary);
	display: block;
	padding: 15px 0px;
}


/*Feature Cards Section*/
.heading__holder {
	max-width: 550px;
	text-align: center;
}

.card__box {
	background-color: var(--bg-secondary);
	border-radius: 10px;
	-webkit-box-shadow: -3px 15px 12px 4px rgba(163,165,174,0.2);
	-moz-box-shadow: -3px 15px 12px 4px rgba(163,165,174,0.2);
	box-shadow: -3px 15px 12px 4px rgba(163,165,174,0.2);
	border-top: 5px;
	border-style: solid;
	padding: 20px;
	width: 100%;
	height: 25vh;
	min-height: 220px;
	margin: 10px 0px;
}

.card__cyan {
	border-top-color: var(--card-cyan);
}

.card__red {
	border-top-color: var(--card-red);
}

.card__orange {
	border-top-color: var(--card-orange);
}

.card__blue {
	border-top-color: var(--card-blue);
}

.card__box img {
	float: right;
}


/*Media Queries*/
@media screen and (min-width: 1024px){
	.cards__holder {
		display: flex;
		justify-content: space-evenly;
	}

	.card-left__holder, .card-right__holder {
		display: flex;
		align-items: center;
		flex: 0 1 33%;
		margin: 0px 10px;
	}

	.cards-middle__holder {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: 0 1 33%;
		margin: 0px 10px;
	}

}
